version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092 || exit 1"]
      interval: 5s
      retries: 5

  # This service runs topics.sh and then exits
  init-kafka:
    build: .
    depends_on:
      kafka:
        condition: service_healthy
    entrypoint: /bin/bash
    command: ./scripts/topics_docker.sh

  # Python Services
  frame-reader:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      init-kafka:
        condition: service_completed_successfully
    command: uv run python -m PZSA.services.frame_reader.read

  detector:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      init-kafka:
        condition: service_completed_successfully
    command: uv run python -m PZSA.services.detection.detector.detect

  violation-checker:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      init-kafka:
        condition: service_completed_successfully
    command: uv run python -m PZSA.services.detection.violation_checker.check_violation

  ui-app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      init-kafka:
        condition: service_completed_successfully
    ports:
      - "8050:8050"
    command: uv run python -m PZSA.ui.app